# Stripe API keys
STRIPE_PUBLISHABLE_KEY=pk_test...
STRIPE_SECRET_KEY=sk_test...

# Required to run webhook
# See README on how to use the Stripe CLI to setup
STRIPE_WEBHOOK_SECRET=whsec_1234...

STATIC_DIR=../../client/html

# Create a Price on Stripe using the Dashboard or API
PRICE=price_abc123...
DOMAIN=http://localhost:4242

# When using the React client
# DOMAIN=http://localhost:3000

# Supported payment methods for the store.
# Some payment methods support only a subset of currencies.

PAYMENT_METHOD_TYPES="card"


# Requires CURRENCY=eur
# PAYMENT_METHOD_TYPES="card,ideal"


# Requires CURRENCY=myr
# PAYMENT_METHOD_TYPES="card,fpx"
