# Stripe API keys
STRIPE_PUBLISHABLE_KEY=pk_12345
STRIPE_SECRET_KEY=sk_12345

# Required to run webhook
# See README on how to use the Stripe CLI to setup
STRIPE_WEBHOOK_SECRET=whsec_1234

STATIC_DIR=../../client

# Checkout settings 
DOMAIN=http://localhost:4242
BASE_PRICE=1099
CURRENCY=usd

# Supported payment methods for the store.
# Some payment methods support only a subset of currencies.
PAYMENT_METHODS="card"
# PAYMENT_METHODS="card, ideal" # Requires CURRENCY=eur
# PAYMENT_METHODS="card, fpx" # Requires CURRENCY=myr

