.env
.DS_Store
.vscode

# Dependencies
node_modules
package-lock.json
yarn.lock
!/yarn.lock
composer.lock

# Ruby files
Gemfile.lock

# Python files
__pycache__
env
venv

# PHP files
vendor
logs

# Java files
.settings
target/
.classpath
.factorypath
.project