@@ -0,0 +1,29 @@
# Stripe API keys
STRIPE_PUBLISHABLE_KEY=pk_live_51It4k8KzHDnBIls0kpqtOThdGG7y9muzUyeZWpDt4zJL0E94qxFDQdRvUOwRnIf24KIHsYFEJPfAUvF6QpWYqLKk00gHwCDspT
STRIPE_SECRET_KEY=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

# Required to run webhook
# See README on how to use the Stripe CLI to setup
STRIPE_WEBHOOK_SECRET=whsec_1234...

STATIC_DIR=../../client/html

# Create a Price on Stripe using the Dashboard or API
PRICE=price_1JGKWAKzHDnBIls0TbKmC2DU
DOMAIN=http://localhost:4242

# When using the React client
# DOMAIN=http://localhost:3000

# Supported payment methods for the store.
# Some payment methods support only a subset of currencies.

PAYMENT_METHOD_TYPES="card"


# Requires CURRENCY=eur
# PAYMENT_METHOD_TYPES="card,ideal"


# Requires CURRENCY=myr
# PAYMENT_METHOD_TYPES="card,fpx"
